$color-purpil-1: #41246d;
$color-pink-1: #f24080;
.containerAllCourse {
    width: 90%;
    margin: 0 auto;
}
.nameCourse {
    padding: 0.31rem 0.93rem;
    position: absolute;
    bottom: -0.93rem;
    left: 1.25rem;
    font-size: 0.93rem;
    transition: all 0.5s;
    border-radius: 1.56rem;
    color: white;
    display: inline-block;
}

.nameCourse_bg1 {
    background: $color-pink-1;
}

.nameCourse_bg2 {
    background: $color-purpil-1;
}

.info__item {
    padding: 1.25rem 1.25rem 0.93rem;
    background: white;
}
@media screen and (max-width: 995.98px) {
    .course__filter {
        display: none;
    }
}
