.header {
    .header__top {
        padding: 0.75rem 0;
        background-color: #41246d;
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
        color: #fff;

        .iconHeader {
            color: #d9d9d9;
            font-size: 0.93rem;
            line-height: 1;

            i {
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    color: #961040;
                }
            }
        }

        button {
            transition: all 0.2s;

            &:hover {
                color: #961040;
            }
        }
    }

    .header__bottom {
        z-index: 99;
        position: relative;
        background-color: #41246d;
        width: 100%;
        color: white;

        a {
            font-weight: 600;
            transition: all 0.5s;

            &:hover {
                color: #961040;
            }
        }
    }

    .header__fixed {
        position: fixed;
        box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15);
        top: 0;
        color: black;
        background-color: #fff;
        transition: all 0.5s;
        animation: fadeInDown 0.5s ease-in;

        img {
            filter: invert(100%) saturate(100%) hue-rotate(154deg) sepia(19%) contrast(200%);
        }
    }
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
    background-color: #f24080;
    button {
        &:hover {
            background-color: #961040;
        }
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 991.98px) {
    .header__middle {
        background-color: #41246d;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        color: white;
        justify-content: center;
        align-items: center;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header > .ant-collapse-header-text {
        margin-inline-end: 0;
        flex: none;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
        font-size: 20px;
    }
    .menuList {
        li {
            border-bottom: 1px solid #e6e6e6;
            padding: 10px;
            a {
                font-weight: 700;
                transition: all 0.5s;

                &:hover {
                    color: #961040;
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .searchBar {
        width: 150px;
    }
}
